.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.small-container{
    margin-bottom: 20px;
}

h3{
    color: #333;
    margin-bottom: 5px;   
}

p{
    margin-bottom: 10px;
}

.edit{
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.delete{
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

mark{
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.edit:hover{
    background-color: #45a049;
}

.delete:hover{
    background-color: #45a049;
}

.mark:hover{
    background-color: #45a049;
}