input {
    width: 33%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 30px;
    background-color:  green;
    color: white;
    border-radius: 3px;
    border: solid 2px black;
    font-weight: bold;
}
.total{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form{
    margin-top: 5%;
}